<div class="header">
  <div class="title">מסך בית</div>
  <img src="assets/images/logo.png" alt="System Logo">
</div>

<div class="container home-buttons">
  <button class="button" routerLink="/inventory">
    <i class="fas fa-box"></i>
    <span>ניהול מלאי</span>
  </button>
  <button class="button" routerLink="/orders">
    <i class="fas fa-shopping-cart"></i>
    <span>דרישות רכש</span>
  </button>
  <button class="button" routerLink="/transport">
    <i class="fas fa-truck"></i>
    <span>בקרת כלי תחבורה</span>
  </button>
  <button class="button" routerLink="/reports">
    <i class="fas fa-chart-line"></i>
    <span>הפקת דוחות</span>
  </button>
</div>
